@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin';
    background-color: #758190;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

button:active {
  background-color: #cccccc; 
  box-shadow: 0 0 5px rgb(103, 103, 103);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#our-games-btn {
    position: absolute;
    right: 0;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    scroll-margin-top: 165.578px;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}



.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#our-games-header {
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: #758190; 
}